<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <!-- <title><%=characters; %></title> -->
</head>
<body>
    <!-- <div class = "container">
        <h1><%=characters.name ; %></h1>
        <img src ="<%=characters.img; %>"> -->
        <h2>Moveset</h2>
            <!-- <ul>
                <li>B: <%=characters.moveset.b; %></li>
                <li>Up-B: <%=characters.moveset.upb; %></li>
                <li>Down-B: <%=characters.moveset.downb; %></li>
                <li>Side-B: <%=characters.moveset.sideb; %></li>
            </ul> -->
        <!-- <a href="/smash" class = "button">Back</a> -->
    </div>
</body>
</html>
