<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <nav class="navbar navbar-dark bg-dark fixed-top upfront">
            <div class="container-fluid">
              <a class="navbar-brand" href="/anime/">Anime Shows</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">What would you like to do</h5>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/anime/new">Add Anime</a>
                    </li>
                
                </div>
              </div>
            </div>
          </nav>
        </div>









        <div class="container move">

    <img class="gif" src=" <%=animes.img ; %>">

<div class="overlay"></div>
    <div class = "container flx typewriter">
        <h1 class= "text "><%=animes.name ; %></h1>


</div>
</div>


    
        <div class="container">
            <div class="intro text"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="<%=animes.img ; %>" />
             
                    <h2 class="section-heading mb-4 text"><span class="section-heading-lower"><%=animes.year ; %></span></h2>
                    <h2 class="section-heading mb-4 text"><span class="section-heading-lower"><%=animes.genre ; %></span></h2>
                    <p class="mb-3 text"><%=animes.description ; %></p>
                </div>
            </div>
        
   










<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>





  

<div class="d-flex justify-content-center"><a class="btn btn-primary btn-lg d-inline-flex flex-row justify-content-center align-content-center align-self-center flex-wrap" role="button" style="background: url('https://images.hdqwalls.com/wallpapers/thumb/goku-2020-new-be.jpg') center / cover no-repeat, rgba(255,255,255,0);position: relative;display: inline-flex;overflow: auto;filter: brightness(108%) contrast(103%);border-radius: 26px;border-width: 1px;border-style: solid;width: 104.1797px;" href="/anime/<%=animes.id%>/edit">EDIT</a>
  
  <form action="/anime/<%=animes.id%>?_method=DELETE" method="POST"><button type="submit" class="btn btn-primary btn-lg d-inline-flex flex-row justify-content-center align-content-center align-self-center flex-wrap"  style="background: url('https://i.pinimg.com/originals/02/95/69/0295690b06d598ca4af51229b07610b8.png') top / cover no-repeat;border-style: solid;border-radius: 19px;position: relative;display: inline-flex;overflow: auto;filter: brightness(108%) contrast(103%);margin-left: 27px;">Delete Post</button></form>





</body>
</html>
